<nz-card style="margin-top: 16px" [nzActions]="[actionSetting]" (click)="navigateToDetails()">

  <div class="row">
    <div class="col-3">
      <nz-avatar [nzSize]="64" nzIcon="user"></nz-avatar>
    </div>
    <div class="col-9 ">
      <h5> {{ instructor.name }}</h5>
      {{ instructor.company.name}}
    </div>

    <div class="col-12 pt-4 d-flex align-items-center">
      <i nz-icon style="color: #737394;" class="p-2 ">
        <svg version="1.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          overflow="visible" preserveAspectRatio="none" viewBox="0 0 386 514" width="12" height="16">
          <g transform="translate(1, 1)">
            <path
              d="M192 96c-52.935 0-96 43.065-96 96s43.065 96 96 96 96-43.065 96-96-43.065-96-96-96zm0 160c-35.29 0-64-28.71-64-64s28.71-64 64-64 64 28.71 64 64-28.71 64-64 64zm0-256C85.961 0 0 85.961 0 192c0 77.413 26.97 99.031 172.268 309.67 9.534 13.772 29.929 13.774 39.465 0C357.03 291.031 384 269.413 384 192 384 85.961 298.039 0 192 0zm0 473.931C52.705 272.488 32 256.494 32 192c0-42.738 16.643-82.917 46.863-113.137S149.262 32 192 32s82.917 16.643 113.137 46.863S352 149.262 352 192c0 64.49-20.692 80.47-160 281.931z"
              vector-effect="non-scaling-stroke" style="fill: rgb(115, 115, 148);" />
          </g>
        </svg>
      </i>
      <small class="d-flex align-items-center"> {{ instructor.address.city}}</small>
    </div>
  </div>



  <div>



  </div>






</nz-card>



<ng-template #avatarTemplate>
  <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
</ng-template>

<ng-template #actionSetting>
  <button nz-button nzType="primary" class="request-button"
    (click)="createComponentModal();$event.stopPropagation()">Request a Quote</button>
</ng-template>